*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cursiva', sans-serif;
}

body{
    background: rgb(154,103,6);
   
}
.calculator{
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    background-color: #000807;
}
.calculatorCientifica{
    width: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    background-color: #000807;
}

table td{
    display: inline-block;
 

}
.btn {
    margin: 3px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #0C1A21;
    color: #dfdfdf;
    font-size: 16px;
    transition: all 500ms ease-in-out;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.especial{
    color: #c54307;
}


.btn:hover{
    background-color: #162f3b;
}

.igual{
    background-color:  #c54307;

}
.igual:hover{
    background-color: #c56031;
}

.outrosOperadores{
    color: #494848;
}

.result {
    height: 100px;
    color: #dfdfdf;
    text-align: right;
    font-size: 35px;
    word-wrap: break-word;
    overflow: auto;
    border-bottom: 1px solid #c54307;
}
::-webkit-scrollbar{
    background-color: #1d1d1d;
    width: 8px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #bd6f4b;
    border-radius: 5px;

}